
@(changepasswordForm:Form[(String,String,String)])(implicit flash:Flash,msg:Messages)

@import helper._
@views.html.main("Change Password"){
<span class="label-danger">@flash.get("password")</span>
    @helper.form(action=routes.ChangePassword.check){
    @helper.inputText(changepasswordForm("oldpassword"),'placeholder->"Old Password",'class->"form-control")
    @helper.inputPassword(changepasswordForm("newpassword"),'placeholder->"New Password",'class->"form-control")
    @helper.inputPassword(changepasswordForm("confirmpassword"),'placeholder->"Confirm Password",'class->"form-control")

   <center> <input class= "btn btn-primary" type="submit" value="Submit"/></center>
}

}